{{#if showListingEditForm}}

<h4>Edit Listing</h4>
  <div class="col-md-12">
    <form>
      <div class="form-group">
        <label for="owner">Title</label>
        {{input value=listing.title id="title"}}
      </div>

      <div class="form-group">
        <label for="type">Author</label>
        {{input value=listing.author id="author"}}
      </div>

      <div class="form-group">
        <label for="content">Content</label>
        {{input value=listing.content id="content"}}
      </div>

      <div class="form-group">
       <label for="image">Image</label>
       {{input value=listing.image id="image"}}
     </div>
    </form>
    <div class="col-md-12">
      <button class="btn btn-xs btn-primary" {{action 'edit' listing}}>Save</button>
      <button class="btn btn-xs btn-danger" {{action 'delete' listing}}>Delete Listing</button>
    </div>
  </div>
{{else}}
<div class="col-md-12">
  <button class="btn btn-xs btn-primary" {{action 'toggleEditForm'}}>Edit</button>
  <button class="btn btn-xs btn-danger" {{action 'delete' listing}}>Delete Listing</button>
</div>
{{/if}}
