<h3>{{model.title}}</h3>
<h5>Listed By: {{model.author}} - {{model.date}}</h5>
<h5>{{model.content}}</h5>
<img src="{{model.img}}"/>
{{edit-listing-tile edit='edit' listing=model}}
{{#link-to 'category' model.category}}Back to Category{{/link-to}}
